@import "./reset.css" all;

@font-face {
    font-family: 'Malaga';
    src: url("../fonts/MalagaOT-MedItalic.otf");
}

body{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
}
header{
    height: 100vh;
    background-size: cover;
    background-position: center top;
    display: grid;
    grid-template-rows: 13% 5% 70%;
}
.top{
    display: grid;
    margin-top: 4%;
    grid-template-columns: 31% 44% 25%;
    align-items: center;
    color: #555555;
}
.logo{
    display: flex;
    justify-content: center;
    color: #858688;
}
.logo span{
    color:#5b4295;
}
.navigator{
    display: grid;
    justify-items: end;
    font-size: 0.8em;
}
.nav{
    display: flex;
    margin-right: 0.5em;
}
.nav li{
    margin-left: 1.5em;
    transition: font-size 0.25s ease;
}
.nav li:hover{
    color:#5f2966;
    font-size: 1.1em;
    text-decoration: underline;
}
.nav1{
    display: none;
}
.sing ul{
    display: flex;
    font-size: 0.75em;
    font-weight: 800;
    margin-left: 4.5em;
    letter-spacing: 0.06em;
    align-items: center;
    white-space: nowrap;
}
.fa-sign-in-alt{
    color: #582c7e;
}
.sign li:first-child:hover{
    color:#5f2966;
    font-size: 1.2em;
}
.button{
    display: flex;
    justify-content: center;    
	color: #fff;
    background-color: #5f2966;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
    transition: background-color 0.25s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;    
    align-self: center;
    z-index: 2;
}
.button:hover {
    background: rgba(0,0,0,0);
    color: #5f2966;
    box-shadow: inset 0 0 0 1px #3a7999;
}
.b1{
    padding: 0.8em 1.3em;
    margin: 0 1.5em;
    font-weight: 500;
    box-shadow: 1px 7px 12px 0px #6277cd;
}
.language{
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: center;
    color: #b5b5b5;
}
.language ul{
    display: flex;
    font-size: 0.7em;
}
.language li{
    padding: 0.55em;
    transition: font-size 0.25s ease;
}
.language li:not(:first-child):before{
    content: "/ ";
}
.language li:hover{
    color:#5f2966;    
    font-size: 1.1em;
    text-decoration: underline;
}
.about{
    display: grid;
    justify-content: center;
    align-items: center;
}
.secure{
    display: grid;
    font-size: 1.5em;
    color: #636363;
}
.secure p:first-child{
    font-size: 2em;
    letter-spacing: normal;
    font-weight: 700;    
}
.secure > *{
    padding: 0.4rem;
    justify-self: center;
    letter-spacing: 0.1em;
}
.secure div{
    display: flex;
    font-size: 0.5em;
    padding-bottom: 5em;
    padding-top: 4.5em;
}
.secure div::after {
    content: "";
    position: absolute;
    width: 90%;
    opacity: 0.6;
    max-width: 28em;
    box-shadow: -19px 20px 14px 8px #6587d4;
}
.secure span{
    color: #fc7b7d;
}
.b2{
    padding: 1.5em 4em;   
    box-shadow: 2px 9px 16px #6587d4, -27px 17px 94px #6587d4;
}
.b3{
    padding: 0.8em;
    opacity: .79;
    margin-left: 1em;
    font-weight: 100;
    font-size: 1.3em;
}
.fixed{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.socialList{
    display: inline;
    position: fixed;
    top: 33%;
    padding: 1em;
}
.itemSocial{
    display: flex;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.5em;
    background-color: #676766;
    margin: 1em;
    border-radius: 3px;
}
.face:hover{
    background-color: rgb(59,89,152);
    border-radius:0px;
    opacity:1;
}
.twit:hover{
    background-color: rgb(29,202,255);
    border-radius:0px;
    opacity:1;
}
.plus:hover{
    background-color: rgb(211,72,54);
    border-radius:0px;
    opacity:1;
}
.container{
    max-width: 920px;
    margin: auto;
}
.info{
    display: grid;
    grid-gap: 9em;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.7em;
    margin-top: 1.8em;
    color: #999797;
}
.info > div{
    display: grid;
    grid-auto-rows: 1fr 2fr;
}
.info h2{
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 0.04em;
    word-spacing: -0.1em;
    white-space: nowrap;
    color: #454545;
}
.info h3{
    font-weight: normal;
    letter-spacing: 0.04em;
}
.info img{
    margin-right: 0.8em;
}
.info p{
    justify-content: center;
    margin: 1em 0 0 1em;
    line-height: 1.5em;
}
.moreInfo{
    display: grid;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #535353;
    margin-top: 3.7em;
    margin-right: 8.5em;
}
.moreInfo h2{
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 0.2em;
}
.moreInfo span{
    color: red;
}
.b5 {
    font-weight: 100;
    border: 1px solid #b9b9b9;
    background-color: white;
    color: #b9b9b9;
    margin-top: 1.5em;
    margin-left: 40em;
    padding: 1.5em;
    width: 24%;
    font-size: 0.8em;
}
.news{
    margin: 2em;
}
.news img{
    margin-right: 2em;
}
.newsQuote{
    display: flex;
    font-family: Malaga, serif;
    font-size: 1.2em;
    width: 34%;
    margin: 2.5em;
    margin-left: 14.3em;
}
.dots div{
    height: 0.5em;
    width: 0.5em;
    background-color: #b7b7b7;
    border-radius: 50%;
    margin: 0.4em;
}
.dots div:first-child{
    background-color: black;
}
.quote{
    margin-left: 0.6em;
}
.quote p:first-child{
    line-height: 1.3em;
}
.quote p:last-child{
    font-size: 0.6em;
    color: #727272;
    margin-top: 0.7em;
}
.notebookSect{
    height: 90vh;
    max-height: 650px;
    background-size: contain;
    background-position: center top;
}
.downloadApp{
    display: grid;
    margin: 5.7em auto;
    width: 25%;
    text-align: end;
    padding-right: 2em;
}
.downloadApp h2{
    font-size: 1.8em;
    font-weight: normal;
    color: #535353;
}
.downloadApp p{
    justify-self: end;
    font-size: 0.8em;
    margin-top: 1.2em;
    color: #979595;
    line-height: 1.4em;
}
.downloadApp div{
    display: flex;
    margin: 1.2em 0;
    justify-content: flex-end;
}
.downloadApp a{
    margin-left: 0.5em;
}
.donate{
    margin: 1em auto;
    display: grid;
    justify-content: center;
}
.donate h2{
    font-weight: normal;
    font-size: 1.7em;
    letter-spacing: 0.02em;
    text-align: center;
    color: #535353;
}
.donate p{
    font-size: 1.5em;
    letter-spacing: -0.02em;
    margin-top: 0.4em;
    color: #7c7c7c;
}
.donate div{
    display: flex;
    margin-top: 2em;
    justify-content: center;
}
.b6{
    padding: 1em 1.3em;
    font-size: 0.9em;
    margin-right: 2.5em;
    box-shadow: 1px 7px 15px 0px #646c92;
}
.b7{
    padding: 1em 2.4em;
    font-size: 0.9em;
    background-color: #5e7bea;
    box-shadow: 1px 7px 15px 0px #36bae0;
}
.donate i{
    font-size: 1em;
    margin-right: 0.5em;
}
.whoDonate{
    margin: 5em auto;
    display: grid;
    justify-content: center;
    padding-left: 3em;
    text-align: end;
}
.whoDonate p{
    font-size: 0.7em;
    color: #727272;
}
.whoDonate img{
    margin: 1.2em 0 0 1.3em;
}
footer{
    display: grid;
    height: 265px;
    grid-template-columns: 20% 32% 18% 14%;
    grid-template-rows: 66% 26%;
    margin: 9.6em auto 0 auto;
    width: 78%;
    font-size: 0.7em;
    align-items: center;    
    color: #5c5c5c;
}
footer li::after{
    content: " • ";
    color: #5c5c5c;
}
.list{
    text-align: end;
}
.list h3{
    margin-bottom: 2em;
    margin-right: 0.7em;
    font-weight: 600;
}
.list li{
    margin: 0.6em;
}
.contact{
    font-weight: 600;
    line-height: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 2.4em;
}
.contact span{
    font-weight: normal;
}
.contact div{
    margin-top: 2em;
}
footer div:last-child{
    align-self: end;
    letter-spacing: -0.07em;
    word-spacing: 0.05em;
}
.nav1{
    opacity: .75;
    z-index: 1;
}
.menu li a {
    display: inline-block;
    padding: 0.5em 1em;
}
.nav1 input{
    display: none;
}
.nav1 label{
    padding: 5px 7px;
    color: #959393;
    font-size: 2em;
    display: block;
}
#menuToggle:checked + .menu{
    display: grid;
    position: absolute;
    background: white;
    z-index: 1;
}
.menu li{
    float: none;
}
.menu{
    display: none;
}